/* styles.css */

#drawing-app {
  display: none;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 0.5s ease; /* Add transition for opacity property */
}


/* Center the drawing area on the screen */
#drawing-canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the drawing canvas */
#drawing-canvas {
  border: 2px solid black;
}

/* Style the title */
.title {
  text-align: center;
  font-size: 32px; /* Increase font size for emphasis */
  margin-bottom: 20px;
  font-family: 'Freckle Face', cursive; /* Specify playful font */
  color: #ff6f61; /* Set colorful font color */
} 

#landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#landing-content {
  text-align: center;
}

#start-drawing-button {
  margin-top: 20px;
}

/* Style the color selector */
#color-selector {
  margin-bottom: 10px;
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-button.clicked {
  transform: scale(1.1); /* You can adjust the scale factor as needed */
} 

#canvas-drag-indicator {
  position: absolute;
  left: 20px; /* Adjust the distance from the canvas */
  bottom: 20px; /* Adjust the distance from the bottom */
  display: flex;
  align-items: center;
  font-family: 'Freckle Face', cursive; /* Specify playful font */
}

.drag-text {
  font-size: 14px; /* Adjust font size as needed */
}

.arrow {
  font-size: 20px; /* Adjust font size as needed */
  transform: rotate(180deg); /* Rotate the arrow 180 degrees */
  margin-right: 5px; /* Adjust spacing between text and arrow */
}



